---
import GlobalHead from "components/GlobalHead.astro"
---

<html lang="es">
  <head>
    <GlobalHead />
    <title>Literatura Los Ceibos 2021</title>
    <!-- <meta name="description" content="" /> -->
    <meta property="og:title" content="Literatura Los Ceibos 2021" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="" /> -->
    <meta property="og:url" content={Astro.request.url.href} />
  </head>

  <body class="font-display border-t-8 border-red-500">
    <main class="max-w-2xl mx-auto px-2 bg-white min-h-screen">
      <h1 class="text-6xl font-extrabold mt-4">Literatura</h1>
      <p class="text-xl leading-none mt-1">
        6º Año Los Ceibos 2021 <br /> Profesora Mariela Cánepa
      </p>

      <h2 class="mt-12 mb-2 text-4xl font-bold">Proyectos</h2>
      <p class="text-red-500 font-bold text-xl leading">
        <a href="/ensayos/">Ensayo y soy voz</a>
      </p>
      <p class="text-red-500 font-bold text-xl leading"><a href="/memes/">Memes</a></p>
    </main>

    <script type="text/javascript">
      console.log("Código fuente de este sitio:\nhttps://github.com/JuanM04/literatura-2021")
    </script>
  </body>
</html>
