---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import GlobalHead from '../components/GlobalHead.astro'
---

<html lang="es">
  <head>
    <GlobalHead />
    <title>Sobre el proyecto</title>
  </head>

  <body class="font-display">
    <Header />

    <main class="prose prose-red lg:prose-xl mx-auto px-4">
      <blockquote>
        “(…) un ensayo consiste en varios encuentros superpuestos a varias búsquedas:
        la intensidad lectora y escrituraria de quien lee otra intensidad lectora y escrituraria”
        <br />
        <b>Jorge Panesi</b>
      </blockquote>
	
	    <p>
        En esta publicación encontrarán escritos que van en busca de la intensidad de la lectura, de
        la escritura, de la mirada crítica de quienes observan el mundo y se posicionan frente a él.
        El ensayo como género literario se vuelve uno de los discursos más complejos a ser desarrollados,
        puesto que exige la combinación de la trama argumentativa con las características propias del
        discurso literario, generando en sí mismo un género híbrido, complejo, desafiante.
      </p>
	    <p>
        Desde esa complejidad, los ensayos que se presentan a continuación, ofrecen múltiples miradas
        de una realidad fragmentaria, percibida desde la perspectiva adolescente. En estos tiempos de
        distancias en todas las posibilidades connotativas, el ensayo nos invita a distanciarnos de la
        realidad tal como la percibimos, adentrarnos en la mirada de un otro que se posiciona y busca
        significatividad en aquellos recortes sociales que le generan inquietud.
      </p>
	    <p>
        La revista que presentamos reúne un conjunto de ensayos desarrollados durante varios meses en
        el espacio de <b>Literatura</b> de 6º año del <i>Colegio Los Ceibos</i> (9 de Julio), a partir de un proceso
        complejo de escritura, versiones y revisiones de los escritos. Cada uno de ellos plantea un tema
        diferente, es por eso que el hilo conductor que los integra es la posibilidad de expresarse, de
        pronunciar, de asumir un rol participativo desde la palabra misma, recurriendo a las herramientas
        discursivas más eficaces para expresar y defender ideas.
      </p>
	    <p>Los y las invitamos a encontrarse con nuestras voces.</p>
      
      <p><b>Mariela Cánepa</b></p>
    </main>
    
    <Footer />
  </body>
</html>


