---
import clsx from 'clsx'

export interface Props {
  bigHeader?: boolean
}

const { bigHeader = false } = Astro.props;
---

<header class="mb-4 max-w-screen-xl border-b-2 border-black mx-auto">
  <p
    class={clsx(
      "font-black uppercase tracking-widest text-red-500 text-center",
      bigHeader ? "text-5xl sm:text-7xl mt-16 mb-8" : "text-4xl mt-8 mb-4"
    )}
  >
    <a href="/">Ensayo y soy voz</a>
  </p>
  <nav class="flex justify-center items-center gap-4 sm:gap-8 px-2 text-sm sm:text-base text-center leading-none">
    <a href="/sobre-el-proyecto">Sobre el proyecto</a>
    <a href="https://www.calameo.com/books/0064117526ac7758b4df2" target="_blank" rel="noopener noreferrer">Versión impresa</a>
  </nav>
</header>
